@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  padding: 0.8125rem 2.875rem;
  background-color: #FFCC00;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  text-transform: uppercase;
}

.top {
  text-align: center;
}

.top__subtitle {
  font-weight: 600;
  line-height: 1.5;
  color: #FFCC00;
  text-transform: uppercase;
}

.top__title {
  font-weight: 600;
  line-height: 1.4909090909;
  color: #231900;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.875rem;
          flex: 0 1 6.875rem;
  font-size: 1.125rem;
  line-height: 1.5;
  position: relative;
  z-index: 4;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  text-transform: uppercase;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__button {
  position: relative;
  z-index: 4;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.top-footer__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.75rem;
          flex: 0 1 23.75rem;
}

.top-footer__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body-top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.9375rem;
}

.body-top-footer__logo {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #FFCC00;
}

.body-top-footer__text {
  line-height: 1.5294117647;
  color: #231900;
}

.body-top-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  color: #231900;
}

.spollers__title {
  pointer-events: none;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  background-color: #000;
  height: 1px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, 0) rotate(40deg);
      -ms-transform: translate(-75%, 0) rotate(40deg);
          transform: translate(-75%, 0) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0) rotate(-40deg);
      -ms-transform: translate(0) rotate(-40deg);
          transform: translate(0) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__title:not(:last-child) {
  margin-bottom: 2.9375rem;
}

.body-spollers__item:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.body-spollers__link {
  line-height: 1.5294117647;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.bottom-footer {
  line-height: 1.5;
  color: #231900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.main {
  position: relative;
}

.main__container {
  color: #fff;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__subtitle {
  font-weight: 700;
  line-height: 1.5;
}

.main__title {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFCC00;
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.main__discount span {
  line-height: 1.5;
}

.main__text {
  font-weight: 600;
  line-height: 1.5;
  max-width: 20.25rem;
}

.main__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__background-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.categories__top:not(:last-child) {
  margin-bottom: 5rem;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.1875rem;
}

.categories__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.875rem * 3) / 4);
          flex: 0 1 calc((100% - 1.875rem * 3) / 4);
}

.item-categories {
  color: #231900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-categories__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.5625rem;
          flex: 0 1 16.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 16rem;
}

.item-categories__image img {
  max-width: 100%;
}

.item-categories__title {
  font-weight: 700;
  line-height: 1.5;
}

.item-categories__text {
  font-weight: 600;
  line-height: 1.5;
}

.advantages {
  background-color: #FFCC00;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.875rem * 2) / 3);
          flex: 0 1 calc((100% - 1.875rem * 2) / 3);
  padding: 0.3125rem;
}

.item-advantages {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 7.1875rem;
  height: 7.1875rem;
}

.item-advantages__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
}

.item-advantages__text {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.5294117647;
}

.outlets {
  background-color: #F5F5F5;
}

.outlets__top:not(:last-child) {
  margin-bottom: 1.5rem;
}

.outlets__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.outlets__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.875rem * 2) / 3);
          flex: 0 1 calc((100% - 1.875rem * 2) / 3);
}

.item-outlets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-outlets__image {
  overflow: hidden;
}

.item-outlets__image img {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  max-width: 100%;
}

.item-outlets__location-icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-outlets__address {
  font-weight: 700;
  line-height: 1.5;
  color: #231900;
}

.getstarted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.getstarted__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #231900;
}

.getstarted__top {
  text-align: left;
  position: relative;
}

.getstarted__top:not(:last-child) {
  margin-bottom: 2rem;
}

.getstarted__top::before {
  content: "";
  position: absolute;
  width: 10.9375rem;
  height: 0.3125rem;
  bottom: -8%;
  left: 0;
  background-color: #FFCC00;
}

.getstarted__subtitle {
  font-weight: 600;
  line-height: 1.5;
}

.getstarted__subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

.getstarted__text {
  line-height: 1.5294117647;
}

.getstarted__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 50%;
  overflow: hidden;
  padding-bottom: 48%;
}

.getstarted__image-ibg img {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.body-getstarted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.body-getstarted__image:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.body-getstarted__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
}

.body-getstarted__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.body-getstarted__text {
  line-height: 1.5294117647;
}

.team__top {
  position: relative;
}

.team__top::before {
  content: "";
  position: absolute;
  width: 12.8125rem;
  height: 0.3125rem;
  bottom: -15%;
  left: 50%;
  background-color: #FFCC00;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.875rem * 3) / 4);
          flex: 0 1 calc((100% - 1.875rem * 3) / 4);
}

.item-team {
  color: #231900;
}

.item-team__image img {
  max-width: 100%;
}

.item-team__name {
  font-weight: 600;
  line-height: 1.5;
}

.item-team__position {
  line-height: 1.5;
}

.discount {
  background: -o-linear-gradient(358.98deg, #FFCC00 17.25%, rgba(255, 204, 0, 0) 178.38%);
  background: linear-gradient(91.02deg, #FFCC00 17.25%, rgba(255, 204, 0, 0) 178.38%);
}

.discount__container {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.discount__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.discount__title {
  font-weight: 700;
  line-height: 1.4909090909;
}

.discount__title:not(:last-child) {
  margin-bottom: 2rem;
}

.discount__text {
  font-weight: 600;
  line-height: 1.5;
}

.discount__text:not(:last-child) {
  margin-bottom: 4.5625rem;
}

.discount__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.discount__link img {
  max-width: 100%;
}

.discount__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.discount__image img {
  max-width: 100%;
}

.images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 1.875rem * 3) / 4);
          flex: 0 1 calc((100% - 1.875rem * 3) / 4);
}

.images__item img {
  max-width: 100%;
}

@media (min-width: 76.875em) {
  .top__subtitle {
    font-size: 1.125rem;
  }

  .top__title {
    font-size: 3.4375rem;
  }

  .header__container {
    gap: 3.375rem;
  }

  .footer__container {
    padding-top: 5.5625rem;
  }

  .footer__container {
    padding-bottom: 2.6875rem;
  }

  .footer__top {
    margin-bottom: 5rem;
  }

  .spollers__title {
    font-size: 1.5rem;
  }

  .body-spollers__link {
    font-size: 1.0625rem;
  }

  .bottom-footer {
    font-size: 1.125rem;
  }

  .main {
    padding-top: 9.3125rem;
  }

  .main {
    padding-bottom: 18.75rem;
  }

  .main__subtitle {
    font-size: 1.625rem;
  }

  .main__subtitle:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main__body:not(:last-child) {
    margin-bottom: 5.75rem;
  }

  .main__discount {
    min-width: 12.8125rem;
  }

  .main__discount {
    min-height: 12.8125rem;
  }

  .main__discount {
    font-size: 2rem;
  }

  .main__discount span {
    font-size: 4rem;
  }

  .main__text {
    font-size: 2.25rem;
  }

  .categories__container {
    padding-top: 3.125rem;
  }

  .categories__container {
    padding-bottom: 3.125rem;
  }

  .item-categories__image:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .item-categories__title {
    font-size: 1.5rem;
  }

  .item-categories__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .item-categories__text {
    font-size: 1.25rem;
  }

  .advantages__container {
    padding-top: 2.6875rem;
  }

  .advantages__container {
    padding-bottom: 3.6875rem;
  }

  .item-advantages__icon:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .item-advantages__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .outlets__container {
    padding-top: 4.75rem;
  }

  .outlets__container {
    padding-bottom: 2.75rem;
  }

  .item-outlets__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-outlets__address {
    font-size: 1.25rem;
  }

  .getstarted__container {
    padding-top: 6.75rem;
  }

  .getstarted__container {
    padding-bottom: 4.25rem;
  }

  .getstarted__subtitle {
    font-size: 1.625rem;
  }

  .getstarted__text:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .team__container {
    padding-top: 4.8125rem;
  }

  .team__container {
    padding-bottom: 4.0625rem;
  }

  .team__top:not(:last-child) {
    margin-bottom: 6.8125rem;
  }

  .item-team__image:not(:last-child) {
    margin-bottom: 2.3125rem;
  }

  .item-team__name {
    font-size: 1.5rem;
  }

  .item-team__name:not(:last-child) {
    margin-bottom: 0.8125rem;
  }

  .item-team__position {
    font-size: 1.25rem;
  }

  .discount__container {
    padding-top: 4.0625rem;
  }

  .discount__container {
    padding-bottom: 8.4375rem;
  }

  .discount__title {
    font-size: 3.4375rem;
  }

  .discount__text {
    font-size: 1.625rem;
  }

  .images__container {
    padding-top: 4.6875rem;
  }

  .images__container {
    padding-bottom: 4.6875rem;
  }
}

@media (min-width: 90em) {
  .header__container {
    min-height: 7.3125rem;
  }

  .menu__list {
    gap: 2.75rem;
  }
}

@media (max-width: 20em) {
  .top__subtitle {
    font-size: 1rem;
  }

  .top__title {
    font-size: 2rem;
  }

  .header__container {
    gap: 0.875rem;
  }

  .header__container {
    min-height: 4.25rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__top {
    margin-bottom: 2.5rem;
  }

  .spollers__title {
    font-size: 1.25rem;
  }

  .body-spollers__link {
    font-size: 1rem;
  }

  .bottom-footer {
    font-size: 0.75rem;
  }

  .main {
    padding-top: 5.625rem;
  }

  .main {
    padding-bottom: 2.5rem;
  }

  .main__subtitle {
    font-size: 1.125rem;
  }

  .main__subtitle:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .main__body:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main__discount {
    min-width: 6.4375rem;
  }

  .main__discount {
    min-height: 6.4375rem;
  }

  .main__discount {
    font-size: 1rem;
  }

  .main__discount span {
    font-size: 1.5rem;
  }

  .main__text {
    font-size: 1.25rem;
  }

  .categories__container {
    padding-top: 0.625rem;
  }

  .categories__container {
    padding-bottom: 1.875rem;
  }

  .item-categories__image:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .item-categories__title {
    font-size: 1.25rem;
  }

  .item-categories__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .item-categories__text {
    font-size: 1.0625rem;
  }

  .advantages__container {
    padding-top: 1.875rem;
  }

  .advantages__container {
    padding-bottom: 1.875rem;
  }

  .item-advantages__icon:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .item-advantages__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .outlets__container {
    padding-top: 1.875rem;
  }

  .outlets__container {
    padding-bottom: 1.875rem;
  }

  .item-outlets__image:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .item-outlets__address {
    font-size: 1.0625rem;
  }

  .getstarted__container {
    padding-top: 1.875rem;
  }

  .getstarted__container {
    padding-bottom: 1.875rem;
  }

  .getstarted__subtitle {
    font-size: 1.25rem;
  }

  .getstarted__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .team__container {
    padding-top: 1.25rem;
  }

  .team__container {
    padding-bottom: 1.875rem;
  }

  .team__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-team__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-team__name {
    font-size: 1.25rem;
  }

  .item-team__name:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .item-team__position {
    font-size: 1.0625rem;
  }

  .discount__container {
    padding-top: 1.875rem;
  }

  .discount__container {
    padding-bottom: 1.875rem;
  }

  .discount__title {
    font-size: 2rem;
  }

  .discount__text {
    font-size: 1.125rem;
  }

  .images__container {
    padding-top: 1.875rem;
  }

  .images__container {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 76.875em) {
  .categories__top:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .categories__content {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 1.25rem * 3) / 4);
            flex: 0 1 calc((100% - 1.25rem * 3) / 4);
  }

  .getstarted__image-ibg {
    border-radius: 0;
  }
}

@media (max-width: 61.99875em) {
  .header__button {
    padding: 0.8125rem 1.25rem;
  }

  .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 3.75rem;
  }

  .body-top-footer {
    gap: 1.875rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 31.25rem;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .categories__top:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 1.25rem * 1) / 2);
            flex: 0 1 calc((100% - 1.25rem * 1) / 2);
  }

  .getstarted__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-getstarted__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 1.875rem * 1) / 2);
            flex: 0 1 calc((100% - 1.875rem * 1) / 2);
  }

  .item-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .discount__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
    text-align: center;
  }

  .discount__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .discount__image:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .images__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 1.875rem * 1) / 2);
            flex: 0 1 calc((100% - 1.875rem * 1) / 2);
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .discount__container {
    gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header {
    position: fixed;
    background-color: #000;
  }

  .header__menu {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #FFCC00;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #000;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    gap: 1.875rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-top-footer {
    gap: 1.25rem;
  }

  .spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .spollers__title {
    pointer-events: all;
  }

  .spollers__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main__body {
    gap: 0.9375rem;
  }

  .categories__top:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .outlets__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.75rem;
  }

  .menu__body::before {
    height: 4.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    font-size: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 5.625rem;
            flex: 0 1 5.625rem;
  }

  .header__button {
    font-size: 0.75rem;
    padding: 0.625rem 0.625rem;
  }

  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    text-align: center;
  }

  .categories__top:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .categories__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-categories .item-categories__image:not(:last-child) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .item-outlets__image {
    width: 100%;
  }

  .getstarted__top::before {
    width: 30%;
  }

  .team__top::before {
    width: 30%;
  }

  .team__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .images__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
    .top__subtitle {
      font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem )) {
    .top__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem )) {
    .top__title {
      font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem )) {
    .top__title {
      font-size: calc(2rem + 1.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.875rem , -0.0041208791rem  +  4.3956043956vw , 3.375rem )) {
    .header__container {
      gap: clamp( 0.875rem , -0.0041208791rem  +  4.3956043956vw , 3.375rem );
    }
}

@supports not (gap: clamp( 0.875rem , -0.0041208791rem  +  4.3956043956vw , 3.375rem )) {
    .header__container {
      gap: calc(0.875rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5782967033rem  +  6.4835164835vw , 5.5625rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 0.5782967033rem  +  6.4835164835vw , 5.5625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5782967033rem  +  6.4835164835vw , 5.5625rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 3.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .footer__top {
      margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .footer__top {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .spollers__title {
      font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .spollers__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem )) {
    .body-spollers__link {
      font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.978021978rem  +  0.1098901099vw , 1.0625rem )) {
    .body-spollers__link {
      font-size: calc(1rem + 0.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6181318681rem  +  0.6593406593vw , 1.125rem )) {
    .bottom-footer {
      font-size: clamp( 0.75rem , 0.6181318681rem  +  0.6593406593vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6181318681rem  +  0.6593406593vw , 1.125rem )) {
    .bottom-footer {
      font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5.625rem , 4.3282967033rem  +  6.4835164835vw , 9.3125rem )) {
    .main {
      padding-top: clamp( 5.625rem , 4.3282967033rem  +  6.4835164835vw , 9.3125rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.3282967033rem  +  6.4835164835vw , 9.3125rem )) {
    .main {
      padding-top: calc(5.625rem + 3.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -3.2142857143rem  +  28.5714285714vw , 18.75rem )) {
    .main {
      padding-bottom: clamp( 2.5rem , -3.2142857143rem  +  28.5714285714vw , 18.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -3.2142857143rem  +  28.5714285714vw , 18.75rem )) {
    .main {
      padding-bottom: calc(2.5rem + 16.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem )) {
    .main__subtitle {
      font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem )) {
    .main__subtitle {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .main__subtitle:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .main__subtitle:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .main__title {
      font-size: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9725274725rem  +  2.6373626374vw , 4rem )) {
    .main__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2328296703rem  +  1.6483516484vw , 2.5rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.5123626374rem  +  6.8131868132vw , 5.75rem )) {
    .main__body:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.5123626374rem  +  6.8131868132vw , 5.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5123626374rem  +  6.8131868132vw , 5.75rem )) {
    .main__body:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (min-width: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem )) {
    .main__discount {
      min-width: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem );
    }
}

@supports not (min-width: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem )) {
    .main__discount {
      min-width: calc(6.4375rem + 6.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (min-height: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem )) {
    .main__discount {
      min-height: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem );
    }
}

@supports not (min-height: clamp( 6.4375rem , 4.1957417582rem  +  11.2087912088vw , 12.8125rem )) {
    .main__discount {
      min-height: calc(6.4375rem + 6.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main__discount {
      font-size: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .main__discount {
      font-size: calc(1rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.5rem , 0.6208791209rem  +  4.3956043956vw , 4rem )) {
    .main__discount span {
      font-size: clamp( 1.5rem , 0.6208791209rem  +  4.3956043956vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.6208791209rem  +  4.3956043956vw , 4rem )) {
    .main__discount span {
      font-size: calc(1.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
    .main__text {
      font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
    .main__text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.2541208791rem  +  4.3956043956vw , 3.125rem )) {
    .categories__container {
      padding-top: clamp( 0.625rem , -0.2541208791rem  +  4.3956043956vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.2541208791rem  +  4.3956043956vw , 3.125rem )) {
    .categories__container {
      padding-top: calc(0.625rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .categories__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .categories__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .item-categories__image:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .item-categories__image:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-categories__title {
      font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-categories__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.1146978022rem  +  0.989010989vw , 0.875rem )) {
    .item-categories__title:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , 0.1146978022rem  +  0.989010989vw , 0.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.1146978022rem  +  0.989010989vw , 0.875rem )) {
    .item-categories__title:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-categories__text {
      font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-categories__text {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem )) {
    .advantages__container {
      padding-top: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5892857143rem  +  1.4285714286vw , 2.6875rem )) {
    .advantages__container {
      padding-top: calc(1.875rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2376373626rem  +  3.1868131868vw , 3.6875rem )) {
    .advantages__container {
      padding-bottom: clamp( 1.875rem , 1.2376373626rem  +  3.1868131868vw , 3.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2376373626rem  +  3.1868131868vw , 3.6875rem )) {
    .advantages__container {
      padding-bottom: calc(1.875rem + 1.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.1888736264rem  +  1.8681318681vw , 2.625rem )) {
    .item-advantages__icon:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.1888736264rem  +  1.8681318681vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.1888736264rem  +  1.8681318681vw , 2.625rem )) {
    .item-advantages__icon:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7836538462rem  +  0.7692307692vw , 1.375rem )) {
    .item-advantages__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7836538462rem  +  0.7692307692vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7836538462rem  +  0.7692307692vw , 1.375rem )) {
    .item-advantages__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.864010989rem  +  5.0549450549vw , 4.75rem )) {
    .outlets__container {
      padding-top: clamp( 1.875rem , 0.864010989rem  +  5.0549450549vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.864010989rem  +  5.0549450549vw , 4.75rem )) {
    .outlets__container {
      padding-top: calc(1.875rem + 2.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .outlets__container {
      padding-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .outlets__container {
      padding-bottom: calc(1.875rem + 0.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-outlets__image:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-outlets__image:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-outlets__address {
      font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-outlets__address {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 6.75rem )) {
    .getstarted__container {
      padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 6.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 6.75rem )) {
    .getstarted__container {
      padding-top: calc(1.875rem + 4.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0398351648rem  +  4.1758241758vw , 4.25rem )) {
    .getstarted__container {
      padding-bottom: clamp( 1.875rem , 1.0398351648rem  +  4.1758241758vw , 4.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0398351648rem  +  4.1758241758vw , 4.25rem )) {
    .getstarted__container {
      padding-bottom: calc(1.875rem + 2.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1181318681rem  +  0.6593406593vw , 1.625rem )) {
    .getstarted__subtitle {
      font-size: clamp( 1.25rem , 1.1181318681rem  +  0.6593406593vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1181318681rem  +  0.6593406593vw , 1.625rem )) {
    .getstarted__subtitle {
      font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2108516484rem  +  1.7582417582vw , 2.5625rem )) {
    .getstarted__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2108516484rem  +  1.7582417582vw , 2.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2108516484rem  +  1.7582417582vw , 2.5625rem )) {
    .getstarted__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0027472527rem  +  6.2637362637vw , 4.8125rem )) {
    .team__container {
      padding-top: clamp( 1.25rem , -0.0027472527rem  +  6.2637362637vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0027472527rem  +  6.2637362637vw , 4.8125rem )) {
    .team__container {
      padding-top: calc(1.25rem + 3.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .team__container {
      padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .team__container {
      padding-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem )) {
    .team__top:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.9835164835rem  +  7.5824175824vw , 6.8125rem )) {
    .team__top:not(:last-child) {
      margin-bottom: calc(2.5rem + 4.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8763736264rem  +  1.8681318681vw , 2.3125rem )) {
    .item-team__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8763736264rem  +  1.8681318681vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8763736264rem  +  1.8681318681vw , 2.3125rem )) {
    .item-team__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-team__name {
      font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-team__name {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.3901098901rem  +  0.5494505495vw , 0.8125rem )) {
    .item-team__name:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 0.3901098901rem  +  0.5494505495vw , 0.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.3901098901rem  +  0.5494505495vw , 0.8125rem )) {
    .item-team__name:not(:last-child) {
      margin-bottom: calc(0.5rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-team__position {
      font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.9965659341rem  +  0.3296703297vw , 1.25rem )) {
    .item-team__position {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .discount__container {
      padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .discount__container {
      padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.4326923077rem  +  11.5384615385vw , 8.4375rem )) {
    .discount__container {
      padding-bottom: clamp( 1.875rem , -0.4326923077rem  +  11.5384615385vw , 8.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.4326923077rem  +  11.5384615385vw , 8.4375rem )) {
    .discount__container {
      padding-bottom: calc(1.875rem + 6.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem )) {
    .discount__title {
      font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4945054945rem  +  2.5274725275vw , 3.4375rem )) {
    .discount__title {
      font-size: calc(2rem + 1.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem )) {
    .discount__text {
      font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9491758242rem  +  0.8791208791vw , 1.625rem )) {
    .discount__text {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .images__container {
      padding-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .images__container {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .images__container {
      padding-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .images__container {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (min-height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem )) {
    .header__container {
      min-height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem );
    }
}

@supports not (min-height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem )) {
    .header__container {
      min-height: calc(4.25rem + 3.0625 * (100vw - 20rem) / 70);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .menu__body {
    padding-top: 8.8125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
@supports (padding-top: clamp( 6.75rem , 5.2767199429rem  +  7.3664002857vw , 8.8125rem )) {
    .menu__body {
      padding-top: clamp( 6.75rem , 5.2767199429rem  +  7.3664002857vw , 8.8125rem );
    }
}

@supports not (padding-top: clamp( 6.75rem , 5.2767199429rem  +  7.3664002857vw , 8.8125rem )) {
    .menu__body {
      padding-top: calc(6.75rem + 2.0625 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 90em) {
  .menu__body::before {
    height: 7.3125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 90em) {
@supports (height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem )) {
    .menu__body::before {
      height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem );
    }
}

@supports not (height: clamp( 4.25rem , 3.375rem  +  4.375vw , 7.3125rem )) {
    .menu__body::before {
      height: calc(4.25rem + 3.0625 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 90em) {
@supports (gap: clamp( 1.875rem , 0.8750558019rem  +  2.0832713312vw , 2.75rem )) {
    .menu__list {
      gap: clamp( 1.875rem , 0.8750558019rem  +  2.0832713312vw , 2.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.8750558019rem  +  2.0832713312vw , 2.75rem )) {
    .menu__list {
      gap: calc(1.875rem + 0.875 * (100vw - 47.99875rem) / 42.00125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    color: #000;
  }

  .header__logo:hover {
    color: #FFCC00;
  }

  .menu__link:hover {
    color: #FFCC00;
  }

  .body-spollers__link:hover {
    color: #FFCC00;
  }

  .item-outlets__image img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .getstarted__image-ibg img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}